<a href="https://colab.research.google.com/github/TEDDYWILLIAMS/TEDDYWILLIAMS/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t') # \t -> tab , \n -> new line
chipo.head(6)
print(chipo.head(6))
# Solution 1
print(chipo.shape)
print(chipo.shape[0])  # entries <= 4622 observations

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
(4622, 5)
4622

In [ ]:
# NULL VALUES!
chipo.info() # entries <= 4622 observations
# print(chipo.info())
chipo.shape[1]
print(chipo.shape[1])
chipo.columns
# print(chipo.columns)
chipo.index
print(chipo.index)
# PANDAS-> SQL operations can be done via PANDAS itself!
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
print(c.head(5))
# AGGREGATIONS!
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
print(c.head(1))
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
print(c.head(1))
# Diet Coke 159
total_items_orders = chipo['quantity'].sum()
total_items_orders
print(total_items_orders)
# ### Step 13. Turn the item price into a float
chipo.item_price.dtype
chipo.item_price.dtype
print(chipo.item_price.dtype)
# square 
# lambda input : what_to_do_with_input
square = lambda side : side * side
square(4)
print(square)